:root {
  --c-done: #8250df;
  --c-success: #1a7f37;
  --c-danger: #d1242f;
  --c-warning: #9a6700;
  --c-info: #0969da;
  --c-muted: #d1d9e0;
}

.markdown-blockquote,
.markdown-alert {
  padding: 0.5rem 1rem;
  border-left: 0.25em solid var(--c-muted);
  margin-bottom: 1rem;
}


.markdown-alert-note {
  border-left-color: var(--c-info);
}

.markdown-alert-note .markdown-alert-title {
  color: var(--c-info);
}

.markdown-alert-tip {
  border-left-color: var(--c-success);
}

.markdown-alert-tip .markdown-alert-title {
  border-left-color: var(--c-success);
  color: var(--c-success);
}

.markdown-alert-important {
  border-left-color: var(--c-done);
}

.markdown-alert-important .markdown-alert-title {
  color: var(--c-done);
}

.markdown-alert-warning {
  border-left-color: var(--c-warning);
}

.markdown-alert-warning .markdown-alert-title {
  color: var(--c-warning);
}

.markdown-alert-caution {
  border-left-color: var(--c-danger);
}

.markdown-alert-caution .markdown-alert-title {
  color: var(--c-danger);
}

.markdown-blockquote>p:last-child,
.markdown-alert>p:last-child {
  margin-bottom: 0;
}

.markdown-alert>:first-child {
    margin-top: 0;
}

.markdown-blockquote>:first-child {
    margin-top: 0;
}

.markdown-alert-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 1;
}

.markdown-alert-title > svg {
  fill: currentColor;
  margin-right: 8px;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
}

.badges {
  margin-top: -35px;
  text-align: center;
  display: flow;
}
